@charset "utf-8";

/* 페이지 제목 */
.page-title {
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 3px solid #333;
    text-align: center;
    color: #2c2c2c;
}
/* FAQ */
.faq-section {
    padding: 15px 0 20px;
}

.faq-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

.faq-question i {
    transition: transform 0.3s ease;
}

.faq-question.active i {
    transform: rotate(180deg);
}

.faq-answer {
    display: none;
    padding: 50px 0 20px;
    color: #0072ec;
    line-height: 1.6;
    font-size: 1.1em;
}

/* 화살표 아이콘을 감싸는 클릭 가능한 영역 */
    .faq-toggle-arrow {
        cursor: pointer; /* 클릭 가능한 요소임을 표시 */
        padding: 8px; /* 클릭 영역을 넓혀줌 */
        margin-left: auto; /* 추가: 오른쪽으로 밀어냄 */
        font-size: 1.5em;
}

        .faq-toggle-arrow i { 
    transition: transform 0.3s ease;
}

        .faq-toggle-arrow.active i { /* 활성화될 때 화살표 회전 */
    transform: rotate(180deg);
}

        .faq-answer {
    display: none;
    padding: 50px 0 20px;
    color: #6a93eb;
    line-height: 1.6;
    font-size: 1.1em;
}

.faq-write-button {
    text-align: right;
    margin-top: 30px;
}

.faq-write-button button {
    background-color: #0072ec;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.faq-write-button button:hover {
    background-color: #0056b3;
}